main {
    flex-grow: 2;
    flex-wrap: wrap;
    display: flex;
    padding-left: 10%;
    padding-top: 8%;
    padding-right: 10%;
    padding-bottom: 8%;
    justify-content: space-between;
}

.message-text {
    display: flex;
    gap: 15px;
    color: black;
    font-weight: lighter;
    font-size: 6rem;
}

.detail {
    font-weight: bold;
    color: var(--main-color);
}

.home {
    display: flex;
}

.home-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
}

.vetor-devices {
    width: 20vw;
}

.img-studant {
    /* width: 30vw; */
    display: flex;
    align-items: center;
    /* padding-left: 30px; */
}

.vetor-studant {
    height: 45vh;
}

.card-container {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 30rem;
    height: 15rem;
    color: var(--text-color);
    border-radius: 10px;
    /* border: none; */
    transition: .5s;
}

.card-container:hover {
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
    width: 30.5rem;
    transition: .5s;
}

.sigla {
    font-size: 4rem;
    font-weight: 800;
}

.card-cursos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 30.5rem;
}



/* TESTE */
.nome-studant {
    background-color: var(--statusC-color);
}